<section class="skills">
    <h2>Habilidades Técnicas</h2>
    <div class="skill-list">
        <div class="skill"><span>Angular</span></div>
        <div class="skill"><span>JavaScript</span></div>
        <div class="skill"><span>PHP</span></div>
        <div class="skill"><span>SQL</span></div>
        <div class="skill"><span>Java</span></div>
        <div class="skill"><span>Node.js</span></div>
        <div class="skill"><span>TypeScript</span></div>
        <div class="skill"><span>Firebase</span></div>
    </div>
</section>
